<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift封装tabBar在OC环境下的代码变化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9AE32C61BF4884A0061E810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9AE32DF1BF4884B0061E810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9AE32EA1BF4884B0061E810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
